<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/loader.css">
    <title>Quera</title>
</head>
<body>
<header class="bg-primary">
    <ul class="nav justify-content-center">
        <li class="nav-item me-5 align-middle d-flex align-items-center">
            <a class="nav-link text-warning fw-bolder align-center fs-4" href="https://itsmoein.ir" target="_blank">< MG /></a>
        </li>
        <li class="nav-item d-flex align-items-center">
            <a class="nav-link text-white" href="/">Home</a>
        </li>
        <li class="nav-item d-flex align-items-center">
            <a class="nav-link text-white" href="/Questions">Questions</a>
        </li>
        <li class="nav-item d-flex align-items-center">
            <a class="nav-link text-white" href="/My-Question">Custom Test</a>
        </li>
    </ul>
</header>
