<%- include('./partials/header.ejs') %>
<div class="container justify-content-center bg-warning rounded mt-2">
    <div class="text-center p-3 fs-2">
        welcome to Quera(C++/C)
    </div>
    <p class="text-center pb-2 fs-5">
        you can solve existed questions
        or
        custom questions
    </p>
</div>
<%- include('./partials/footer.ejs') %>

