<%- include('./partials/header.ejs') %>
<div class="container justify-content-center bg-warning rounded mt-5">
    <ul>
        <% for(var i=1; i<=len; i++) {%>
        <li class="p-2 fs-5 nav-item"><a class="nav-link text-dark" href="/questions/<%=i%>">Question-<%=i%></a></li>
        <%}%>
    </ul>
</div>
<%- include('./partials/footer.ejs') %>
